*.pdb
*.dll
IndecisionApp/node_modules/
*.cache
*.txt
*.targets
IndecisionApp/obj/Debug/netcoreapp2.0/indecisionapp.AssemblyInfo.cs
*.props
IndecisionApp/bin/Debug/netcoreapp2.0/indecisionapp.runtimeconfig.dev.json
