*.pdb
*.dll
IndecisionApp/node_modules/
IndecisionApp/bin/
IndecisionApp/obj/
*.cache
*.txt
*.targetsz
IndecisionApp/bin/Debug/netcoreapp2.0/indecisionapp.deps.json
*.lock
IndecisionApp/obj/project.assets.json
IndecisionApp/obj/indecisionapp.csproj.nuget.g.targets
IndecisionApp/obj/indecisionapp.csproj.nuget.g.props
IndecisionApp/obj/Debug/netcoreapp2.0/indecisionapp.AssemblyInfo.cs
IndecisionApp/bin/Debug/netcoreapp2.0/indecisionapp.runtimeconfig.dev.json
IndecisionApp/bin/Debug/netcoreapp2.0/indecisionapp.deps.json

